fastapi==0.135.1
uvicorn==0.41.0
pydantic==2.12.5
requests==2.32.5
google-generativeai==0.8.6
google-auth==2.48.0
python-dotenv==1.2.2
beautifulsoup4==4.14.3
anyio==4.12.1
starlette==0.52.1
typing_extensions==4.15.0
annotated-types==0.7.0
sniffio==1.3.1
idna==3.11
certifi
urllib3
h11
httpcore
httpx
pyasn1
pyasn1_modules
rsa
cachetools
google-api-core
google-api-python-client
googleapis-common-protos
proto-plus
protobuf
pytz
six
