fastapi
uvicorn
pydantic
requests
google-generativeai
python-dotenv
beautifulsoup4
anyio
starlette
typing_extensions
annotated-types
sniffio
idna
certifi
urllib3
httpx
pyasn1
pyasn1_modules
rsa
cachetools
google-api-core
google-auth
pytz
six
